*~
**/bin/

# Gradle
.gradle/
build/

# IDE
.idea/
*.iml
.vscode/

# Local environment configuration
.env
streamlet.properties

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
