*~
**/bin/

# Gradle
.gradle/
build/

# Node.js
node_modules/

# Python
__pycache__/
*.py[cod]
.venv/

# .NET
obj/

# IDE
.idea/
*.iml
.vscode/

# Local environment configuration
.env
streamlet.properties

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
